<launch>

<arg name="kalibrYaml" default="${find slam_pan}/camera_imu_param/camchain-imucam-images_imu.yaml"/>
<arg name="imuYaml" default="${find slam_pan}/camera_imu_param/mynteye-imu_param.yaml"/>
<arg name="bagFusionData" default="/home/weic/Research/ResearchSLAM/catkin_ws/src/slamPan/Data/12-01.bag"/>
<node name="play" pkg="rosbag" type="play" output="screen" args="/home/weic/Research/ResearchSLAM/catkin_ws/src/slamPan/Data/12-01.bag">
<!-- <node name="play" pkg="rosbag" type="play" output="screen" args="-l /home/weic/Research/ResearchSLAM/catkin_ws/src/slamPan/Data/12-01.bag">  -->
</node>
<!-- <group ns=slamPan> -->
    <!-- <rosparam command="load" file="$(arg kalibrYaml)"/>
    <rosparam command="load" file="$(arg imuYaml)"/>
    <param name="leftCamera" value="${kalibrYaml}/cam0"/>
    <param name="rightCamera" value="{kalibrYaml}/cam1"/>
    <param name="imu" value="$(imuYaml)"/> -->
<node name="insNode" pkg="slam_pan" type="insNode" output="screen" launch-prefix="gnome-terminal -e" >
<!-- <remap from="/imu" to="/mynteye/imu/data_raw"/> -->
</node>
<!-- </group> -->

<!-- <node  pkg="rviz" name="rviz" type="rviz" args="-d /home/weic/Research/ResearchSLAM/catkin_ws/src/slamPan/rvizs/slampan1.rviz"/> -->
</launch>